.btn{
    color: white;
    border: none;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.delete-button{
    background-color: red;
}
.edit-button {
    background-color: blue;
}
.close-button{
    background-color: yellow;
    color: black;
}
.all-students-container{
    margin: 50px;
    box-shadow: 5px 5px 15px lightgrey;
}