.search-field-area{
    margin-bottom: 25px;
}
.search-field-container{
    padding: 20px 0;
}
.search-form form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-form form input, .search-button{
    width: 100%;
    margin-left: 20px;
}
.search-form form input{
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}
.search-form form input:focus{
    outline: none;
    border: 2px solid grey;
}
.search-button{
    margin-right: 20px;
    background: #AD2626;
    border: none;
    color: white;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}